go 1.25.3

use (
	./api
	./pkg
	./services/audit
	./services/catalog
	./services/fraud
	./services/fulfillment
	./services/gateway
	./services/identity
	./services/inventory
	./services/notification
	./services/order
	./services/payment
	./services/pricing
	./services/queue
	./services/reporting
	./services/search
	./services/subscription
	./services/vendor
)
